/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { background-image:url("../images/wood_bg.jpg"); }
h1 { font: bold 65px/60px Helvetica, Arial, Sans-serif; text-align: center; color: #eee; text-shadow: 0px 2px 6px #333; }
h1 small{ font-size: 20px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #ccc; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 45px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:800px; margin:40px auto; }

/* CONTENT */
#content { }

/* DJ */
#dj { width:760px; margin:0 auto; }
.center { margin:0 auto; width:128px; }
#playbutton { text-align:center; cursor:pointer; width:128px; }

.vinyl { width:370px; height:370px; float:left; margin:0 5px; }
#vinyl1 { background-image:url("../images/vinyl1.png"); }
#vinyl2 { background-image:url("../images/vinyl2.png"); }

.needle { width:50px; height:76px; position:absolute; background-image:url("../images/needle.png"); z-index:99; }
#needle1 { margin-left:300px; }
#needle2 { margin-left:680px; }

#buttons { z-index:9999; clear:both; }
#buttons img { cursor:pointer; }
#buttons div { float:left; margin-top:25px; }
#leftbtns { margin-left:60px; }
#rightbtns { margin-left:120px; }