body {
	background-color: #eee;
	color: #333;
	font: 11px Arial, Helvetica, sans-serif;
	text-align: center;
}	
.mentions {
	font-size: 11px;
	text-align: center;
}

#demo-remote {
	background-color: #ddd;
	border-right: 1px solid #999;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	padding: 10px;
	position: fixed;
	text-align: right;
	top: 0;
	width: 179px;
}
#demo-remote input[type=radio] {
	vertical-align: text-bottom;
}
#demo-remote input[type=checkbox] {
	vertical-align: middle;
}
#demo-remote label {
	font-weight: bold;
}
#demo-remote span label {
	font-weight: normal;
}

#demo-player {
	left: 200px;
	min-width: 800px;
	position: absolute;
	right: 0;
}