* { margin: 0; padding: 0; }
button::-moz-focus-inner { border: none; }
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {
	background-color: #333;
	background-image: -webkit-linear-gradient(bottom, #aaa, #666);
	background-image: -moz-linear-gradient(bottom, #aaa, #666);
	background-image: -ms-linear-gradient(bottom, #aaa, #666);
	background-image: -o-linear-gradient(bottom, #aaa, #666);
	background-image: linear-gradient(bottom, #aaa, #666);
}
article {
	font: 14px Courier, "Lucida Console", monospace;
	margin: 20px auto;
	text-align: justify;
	width: 500px;
}
article h1,
article h2 {
	margin: 15px 0 10px;
}
article ul {
	margin-left: 2em;
}
article pre {
	background-color: #aaa;
	border: 1px solid #666;
	padding: 5px;
	overflow-x: scroll;
}
article footer {
	margin-top: 40px;
	text-align: center;
}

#player {
	overflow: hidden;
	position: relative;
}
#player text,
#player tspan {
	font-family: Impact;
}

/* THEMES */
#player.default {
	border: 2px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 30px 10px #000;
	height: 250px;
	margin: 50px auto 0;
	width: 450px;
}
#player.default.with-infos {
	height: 350px;
}
#player.default,
#player.default button,
#player.default input,
#player.default label {
	color: #aaa;
	font: 11px "Arial Black";
	-webkit-text-shadow: 0 0 2px #000;
	-moz-text-shadow: 0 0 2px #000;
	-ms-text-shadow: 0 0 2px #000;
	-O-text-shadow: 0 0 2px #000;
	text-shadow: 0 0 2px #000;
	text-transform: uppercase;
}
#player.default button,
#player.default input,
#player.default label {
	position: relative;
}
#player.default button:active,
#player.default button:focus,
#player.default button:hover {
	cursor: pointer;
	outline: 0;
}

/* REMOTE PANEL */
#player.default .remote {
	padding-right: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
}
#player.default .remote .button {
	border: 2px solid;
	display: block;	
	height: 25px;
	margin-bottom: 20px;
	padding: 0;
	vertical-align: middle;
}
#player.default .remote .button,
#player.default .remote .button label {
	color: #666;
	line-height: 25px;
}

/** REMOTE PANEL / POWER BUTTON **/
#player.default .remote .power {
	background-color: #000;
	background: -webkit-linear-gradient(left, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: -moz-linear-gradient(left, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: -ms-linear-gradient(left, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: -o-linear-gradient(left, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: linear-gradient(left, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	text-align: center;
	width: 50px;
}
#player.default .remote .power.active {
	background: -webkit-linear-gradient(right, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: -moz-linear-gradient(right, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: -ms-linear-gradient(right, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: -o-linear-gradient(right, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010);
	background: linear-gradient(right, #111, #333 5%, #000 60%, #000 85%, #222 90%, #101010s);
}
#player.default .remote .power:before {
	background: -webkit-radial-gradient(#347235, #254117 51%, #ccc);
	background: -moz-radial-gradient(#347235, #254117 51%, #ccc);
	background: -ms-radial-gradient(#347235, #254117 51%, #ccc);
	background: -o-radial-gradient(#347235, #254117 51%, #ccc);
	background: radial-gradient(#347235, #254117 51%, #ccc);
	border-radius: 5px;
	content: " ";
	height: 10px;
	right: -20px;
	position: absolute;
	top: 8px;
	width: 10px;
}
#player.default .remote .power.active:before {
	background: -webkit-radial-gradient(green, #4AA02C 51%, #ccc);
	background: -moz-radial-gradient(green, #4AA02C 51%, #ccc);
	background: -ms-radial-gradient(green, #4AA02C 51%, #ccc);
	background: -o-radial-gradient(green, #4AA02C 51%, #ccc);
	background: radial-gradient(green, #4AA02C 51%, #ccc);
	-webkit-box-shadow: 0 0 5px green;
	-moz-box-shadow: 0 0 5px green;
	-ms-box-shadow: 0 0 5px green;
	-o-box-shadow: 0 0 5px green;
	box-shadow: 0 0 5px green;
}
#player.default .remote .power input[type=radio] {
	display: none;
}
#player.default .remote .power label {
	bottom: 0;
	position: absolute;
	top: 0;
}
#player.default .remote .power label[for=power-off] {
	left: 0;
	padding-left: 8px;
	padding-right: 10px;
}
#player.default .remote .power label[for=power-on] {
	cursor: pointer;
	right: 0;
	padding-left: 10px;
	padding-right: 12px;
}
#player.default .remote .power.active label[for=power-off] {
	cursor: pointer;
	padding-left: 10px;
}
#player.default .remote .power.active label[for=power-on] {
	cursor: default;
	padding-right: 10px;
}

/** REMOTE PANEL / NEXT BUTTON **/
#player.default .remote .next {
	background-color: #151515;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	border-width: 2px;
	-webkit-box-shadow: 0 1px 2px #666 inset, 0 -1px 2px #000 inset;
	-moz-box-shadow: 0 1px 2px #666 inset, 0 -1px 2px #000 inset;
	-ms-box-shadow: 0 1px 2px #666 inset, 0 -1px 2px #000 inset;
	-o-box-shadow: 0 1px 2px #666 inset, 0 -1px 2px #000 inset;
	box-shadow: 0 1px 2px #666 inset, 0 -1px 2px #000 inset;
	font-size: 18px;
	font-weight: bold;
	height: 30px;
	line-height: 13px;
	text-align: center;
	text-indent: 2px;
	width: 30px;
}
#player.default .remote .next:active {
	background-color: #333;
	-webkit-box-shadow: 0 0 5px 3px #000 inset, 0 0 1px #000;
	-moz-box-shadow: 0 0 5px 3px #000 inset, 0 0 1px #000;
	-ms-box-shadow: 0 0 5px 3px #000 inset, 0 0 1px #000;
	-o-box-shadow: 0 0 5px 3px #000 inset, 0 0 1px #000;
	box-shadow: 0 0 5px 3px #000 inset, 0 0 1px #000;
}

/* COVER PANEL */
#player.default .cover {
	background: url(../img/default/paper-cover.png) no-repeat 0 0;
	bottom: 0;
	cursor: pointer;
	height: 242px;
	position: absolute;
	right: -230px;
	width: 250px;
	-webkit-transition: right 1s;
	-moz-transition: right 1s;
	-ms-transition: right 1s;
	-o-transition: right 1s;
	transition: right 1s;
}
#player.default .cover:hover {
	right: 0;
}
#player.default .cover .legend {
	color: #000;
	font: 10px "Courier New", Courier, monospace;
	left: 55px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}
#player.default .cover .artist {
	top: 30px;
}
#player.default .cover .title {
	top: 46px;
}
#player.default .cover .tracks {
	left: 15px;
	top: 100px;
	width: 225px;
}
#player.default .cover .tracks .track {
	float: left;
	padding-left: 5%;
	text-align: left;
	width: 42%;
}
#player.default .cover .tracks .track:nth-child(even) {
	float: right;
	padding-right: 5%;
	text-align: right;
}
#player.default .cover .tracks .legend {
	display: block;
	left: 0;
	position: static;
}
#player.default .cover .tracks .track-title {
	text-transform: capitalize;
}

/* OTHER PANELS */
#player.default .infos,
#player.default .playlist {
	background-color: #111;
	background: -webkit-linear-gradient(top left, #111, #1A1A1A);
	background: -moz-linear-gradient(top left, #111, #1A1A1A);
	background: -ms-linear-gradient(top left, #111, #1A1A1A);
	background: -o-linear-gradient(top left, #111, #1A1A1A);
	background: linear-gradient(top left, #111, #1A1A1A);
	border: 2px solid #000;
	border-radius: 3px;
	bottom: 10px;
	color: #444;
	padding: 10px;
	position: absolute;
	text-align: right;
}

/** OTHER PANELS / INFOS **/
#player.default .infos {
	right: 10px
}
#player.default .infos p span {
	color: #999;
	display: inline-block;
	min-width: 35px;
}
/** OTHER PANELS / PLAYLIST **/
#player.default .playlist {
	left: 10px;
}
#player.default .playlist button {
	background: transparent;
	border: none;
	color: #444;
	display: block;	
	font-size: 11px;
	padding-left: 15px;
}
#player.default .playlist button:before {
	background: -webkit-radial-gradient(#347235, #254117 51%, #ccc);
	background: -moz-radial-gradient(#347235, #254117 51%, #ccc);
	background: -ms-radial-gradient(#347235, #254117 51%, #ccc);
	background: -o-radial-gradient(#347235, #254117 51%, #ccc);
	background: radial-gradient(#347235, #254117 51%, #ccc);
	border-radius: 5px;
	content: " ";
	height: 10px;
	left: 0;
	position: absolute;
	top: 4px;
	width: 10px;
}
#player.default .playlist button.active {
	color: #999;
}
#player.default .playlist button.active:before {
	background: -webkit-radial-gradient(green, #4AA02C 51%, #ccc);
	background: -moz-radial-gradient(green, #4AA02C 51%, #ccc);
	background: -ms-radial-gradient(green, #4AA02C 51%, #ccc);
	background: -o-radial-gradient(green, #4AA02C 51%, #ccc);
	background: radial-gradient(green, #4AA02C 51%, #ccc);
	-webkit-box-shadow: 0 0 5px green;
	-moz-box-shadow: 0 0 5px green;
	-ms-box-shadow: 0 0 5px green;
	-o-box-shadow: 0 0 5px green;
	box-shadow: 0 0 5px green;
}
#player.default audio[controls] {
	left: 0;
	position: absolute;
	top: 0;
}

/** THEMES / WOOD **/
#player.default.wood {
	background: #230700 url(../img/default/bg-wood.png) top right;
	border-color: #230700;
}
#player.default.wood .remote .button {
	border-color: #230700;
}
#player.default.wood .playlist,
#player.default.wood .infos {
	-webkit-box-shadow: 0 0 5px #230700, 0 0 5px #222 inset;
	-moz-box-shadow: 0 0 5px #230700, 0 0 5px #222 inset;
	-ms-box-shadow: 0 0 5px #230700, 0 0 5px #222 inset;
	-o-box-shadow: 0 0 5px #230700, 0 0 5px #222 inset;
	box-shadow: 0 0 5px #230700, 0 0 5px #222 inset;	
}

/** THEMES / ALU **/
#player.default.alu {
	background: #727272 url(../img/default/bg-alu.png) top right;
	border-color: #727272;
}
#player.default.alu .remote .button {
	border-color: #727272;
}
#player.default.alu .playlist,
#player.default.alu .infos {
	-webkit-box-shadow: 0 0 5px #727272, 0 0 5px #222 inset;
	-moz-box-shadow: 0 0 5px #727272, 0 0 5px #222 inset;
	-ms-box-shadow: 0 0 5px #727272, 0 0 5px #222 inset;
	-o-box-shadow: 0 0 5px #727272, 0 0 5px #222 inset;
	box-shadow: 0 0 5px #727272, 0 0 5px #222 inset;	
}